[Unit]
Description=Play MP3 sound before shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/play-shutdown-sound.sh
TimeoutSec=10
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target