[Unit]
Description=OaKhz Rotary Encoder Controller
Wants=pulseaudio.service bluetooth.service
DefaultDependencies=no

[Service]
Type=simple
User={{SERVICE_USER}}
Group=gpio
SupplementaryGroups=audio
WorkingDirectory=/home/{{SERVICE_USER}}
ExecStartPre=/bin/sh -c 'until pactl info >/dev/null 2>&1; do sleep 0.2; done'
ExecStartPre=/usr/bin/pactl set-sink-volume @DEFAULT_SINK@ 75%
ExecStart=/usr/bin/python3 /usr/local/bin/oakhz-rotary.py
Restart=always
RestartSec=5
Environment="PULSE_SERVER=unix:/run/pulse/native"
Environment="HOME=/home/{{SERVICE_USER}}"

[Install]
WantedBy=multi-user.target