[Unit]
Description=OaKhz Audio Events Manager
After=sound.target bluetooth.target pulseaudio.service
Wants=bluetooth.service

[Service]
Type=simple
User=oakhz
Group=audio
#ExecStartPre=/bin/sleep 5
ExecStartPre=/bin/sh -c 'until pactl info >/dev/null 2>&1; do sleep 1; done'
ExecStart=/usr/bin/python3 /usr/local/bin/oakhz-audio-events.py
Restart=always
RestartSec=5
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_RUNTIME_PATH=/run/user/1000/pulse"

[Install]
WantedBy=multi-user.target
