[Unit]
Description=PulseAudio system server
After=bluetooth.service

[Service]
Type=notify
ExecStart=/usr/bin/pulseaudio --system --disallow-exit --log-target=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
